body{
    margin: 0;
    width: 100%;
    height: 100%;
}

.solo-container{
    display: flex;
    justify-content: space-around;
}
.goal-post{
    /* width: 200px;
    height: 20vh; */
    border: 1px solid #555;
    padding: 20px;
    color: red;
    background-color: black;
}